<h1>Listing folders</h1>

<% if can? :create, Folder %>
  <%= link_to 'New Folder', new_folder_path %><br/>
<% end %>
<% @folders.each do |f| %>
  <div class="folder">
    <div>
      <div class="cover">
        <%= link_to image_tag(f.cover.url(:quadratic)), f %>
      </div>
    </div>
    <div><%= link_to f.name, f %></div>
  </div>
<% end %>
