/* tables - begin */
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.tr {
  display: table-row;
  padding: 20px;
}
.th, .td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.th {
  font-weight: bold;
}
.even {
}
.odd {
  background-color: #ffc;
}
.left {
  text-align: left;
}
.dashboard {
  width: 17%;
}
/* tables - end */

/* general layout - begin */
body {
  width: 100%;
}
div.borders {
  position: absolute;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  box-shadow: 0px 0px 8px #666;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
}
div.content {
  clear: both;
  top: 160px;
}
div.info {
  height: 40px;
  top: 80px;
  line-height: 40px;
  vertical-align: middle;
}
div.menu {
  height: 40px;
  top: 0px;
  vertical-align: middle;
  line-height: 20px;
}
div.menu div {
  float: left;
  padding: 20px;
  display: inline-block;
}
/* general layout - end */

/* images - begin */
.cover {
  padding: 20px 0px 0px 0px;
}
.cover img {
  box-shadow: 0px 8px 8px #666, 0px -1px 8px #666;
  padding: 5px 5px 20px 5px;
}
.cover:hover a img {
  box-shadow: 0px 0px 0px #fff;
}
.thumbs img {
  box-shadow: 0px 8px 8px #666, 0px -1px 8px #666;
}
.thumbs:hover a img {
  box-shadow: 0px 0px 0px #fff;
}
/* images - end */
