/* bars -- begin */
div.bar {
  opacity: 0.95;
  position: absolute;
  top: 0px;
  height: 90px;
  padding: 10px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
}
div.info.bar {
  left: 25%;
  background-color: #ffc;
  border-bottom-left-radius: 20px;
  border-color: #cc0;
  z-index: 1;
}
div.error.bar {
  left: 25%;
  background-color: #fcc;
  border-bottom-left-radius: 20px;
  border-color: #c00;
  z-index: 1;
}
/* bars -- end */

/* menu -- begin */
div.menu.bar {
  right: 25%;
  background-color: #ccf;
  border-bottom-right-radius: 20px;
  border-color: #00c;
  z-index: 2;
}
div.menu img {
  line-height: 64px;
  float: right;
}
div.menu span {
  display: none;
  padding-right: 10px;
  width: 300px;
}
div.menu:hover span {
  display: inline-block;
}
/* menu -- end */


div.table {
  display: table; border-collapse: collapse;
  width: 100%;
}
div.tr.top, div.tr.middle, div.tr.bottom {
  display: table-row;
}
div.tr.top, div.tr.bottom {
}
div.td.left, div.td.center, div.td.right {
  display: table-cell;
  border: 1px dotted black;
}
div.td.left, div.td.right {
  width: 10%;
}



div.content {
}
div.folder {
  border: 1px dotted black;
  position: relative;
  float: left;
  padding: 50px;
  text-align: center;
}
div.folder div + div {
  padding-top: 20px;
}
div.cover img {
  box-shadow: 0px 8px 8px #666, 0px -1px 8px #666;
  padding: 5px 5px 20px 5px;
}
div.new {
  position: absolute;
  top: 5px;
  left: 220px;
  padding: 0px;
}
div.new span {
  position: absolute;
  color: white;
  font-weight: bold;
  left: 19px;
  top: 42px;
}
